# Loading the benchmark data and queries

* LSQB
* SNAP
* JOB
* STATS
* HETIO

## Create the DB users

In [1]:
%%bash

export PGPASSWORD=postgres

create_db() {
cat <<EOF
        create user $1 with password '$1';
        create database $1;
        grant all privileges on database $1 to $1;
        \c $1 postgres
        grant all on schema public to $1;
EOF
}

dbnames=(lsqb snap tpcds tpch)

psql --host=postgres --username postgres --dbname postgres <<-EOSQL
        $(create_db lsqb)
        $(create_db snap)
        $(create_db tpcds)
        $(create_db tpch)
        $(create_db imdb)
        $(create_db stats)
        $(create_db hetio)
EOSQL

ERROR:  role "lsqb" already exists
ERROR:  database "lsqb" already exists

GRANT
You are now connected to database "lsqb" as user "postgres".
GRANT

ERROR:  role "snap" already exists
ERROR:  database "snap" already exists

GRANT
You are now connected to database "snap" as user "postgres".
GRANT

ERROR:  role "tpcds" already exists
ERROR:  database "tpcds" already exists

GRANT
You are now connected to database "tpcds" as user "postgres".
GRANT

ERROR:  role "tpch" already exists
ERROR:  database "tpch" already exists

GRANT
You are now connected to database "tpch" as user "postgres".
GRANT

ERROR:  role "imdb" already exists
ERROR:  database "imdb" already exists

GRANT
You are now connected to database "imdb" as user "postgres".
GRANT

ERROR:  role "stats" already exists
ERROR:  database "stats" already exists

GRANT
You are now connected to database "stats" as user "postgres".
GRANT
CREATE ROLE
CREATE DATABASE
GRANT
You are now connected to database "hetio" as user "postgres".
GRANT

# LSQB

## Fetch LSQB data

You either can download one LSQB dataset, deciding which scale factor you want or a lot of different ones. Both methods are provided here.  

Only load one dataset with scale factor SF (here = 1)

In [2]:
!chmod +x lsqb/scripts/download-merged-fk-single-data-set.sh

In [3]:
%%bash
cd lsqb
export SF=1
./scripts/download-merged-fk-single-data-set.sh
cd ..

Downloading scale factor 1

Downloading the LSQB data for different scale factors: 0.1, 0.3, 1, 3, 10, 30, 100, 300, 1000

In [4]:
#!chmod +x lsqb/scripts/download-merged-fk-data-sets.sh

In [5]:
#%%bash
#cd lsqb
#export MAX_SF=300
#./scripts/download-merged-fk-data-sets.sh
#cd ..

## Import the LSQB benchmark data

Import the benchmark data for scale factor 1

In [6]:
!chmod +x import-lsqb.sh

In [7]:
%%bash
export SF=1
./import-lsqb.sh

DROP VIEW
DROP VIEW
DROP VIEW
DROP VIEW
DROP VIEW
DROP VIEW
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
COPY 1575
COPY 6380
COPY 6
COPY 111
COPY 1343
COPY 109617
COPY 2580332
COPY 1229275
COPY 11000
COPY 16080
COPY 71
COPY 3148317
COPY 815205
COPY 3268415
COPY 354213
COPY 255596
COPY 1668015
COPY 853145
COPY 8880
COPY 23600
COPY 226293
COPY 226293
CREATE VIEW
CREATE VIEW
CREATE VIEW
CREATE VIEW
CREATE VIEW
CREATE VIEW

# SNAP

## Fetch the SNAP data

In [14]:
!chmod +x snap/remove-header.sh

In [15]:
%%bash

datasets=("http://snap.stanford.edu/data/cit-Patents.txt.gz"
          "http://snap.stanford.edu/data/wiki-topcats.txt.gz"
          "http://snap.stanford.edu/data/web-Google.txt.gz"
          "http://snap.stanford.edu/data/bigdata/communities/com-dblp.ungraph.txt.gz")

cd snap

for d in ${datasets[*]}; do
    if [ ! -f $(basename $d) ]; then
        curl -O $d;
        gunzip $(basename $d)
    else
        echo "$(basename $d) exists"
    fi
done

./remove-header.sh

cd ..

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 81.1M  100 81.1M    0     0   442k      0  0:03:07  0:03:07 --:--:--  505k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 95.1M  100 95.1M    0     0   534k      0  0:03:02  0:03:02 --:--:--  473k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 20.1M  100 20.1M    0     0   497k      0  0:00:41  0:00:41 --:--:--  966k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 4041k  100 4041k    0     0   267k      0  0:00:15  0:00:15 --:--:--  304k

## Import the SNAP data

In [16]:
%%writefile import-snap.sql

DROP TABLE IF EXISTS patents;
CREATE TABLE patents (fromNode integer, toNode integer);
\copy patents FROM 'snap/noheader/cit-Patents.txt' with (header false);

DROP TABLE IF EXISTS wiki;
CREATE TABLE wiki (fromNode integer, toNode integer);
\copy wiki FROM 'snap/noheader/wiki-topcats.txt' with (header false, delimiter ' ');

DROP TABLE IF EXISTS google;
CREATE TABLE google (fromNode integer, toNode integer);
\copy google FROM 'snap/noheader/web-Google.txt' with (header false);

DROP TABLE IF EXISTS dblp;
CREATE TABLE dblp (fromNode integer, toNode integer);
\copy dblp FROM 'snap/noheader/com-dblp.ungraph.txt' with (header false);

Overwriting import-snap.sql

In [17]:
%%bash

PGPASSWORD=snap psql -h postgres -U snap -d snap -f import-snap.sql

psql:import-snap.sql:2: NOTICE:  table "patents" does not exist, skipping

DROP TABLE
CREATE TABLE
COPY 16518948

psql:import-snap.sql:6: NOTICE:  table "wiki" does not exist, skipping

DROP TABLE
CREATE TABLE
COPY 28511807

psql:import-snap.sql:10: NOTICE:  table "google" does not exist, skipping

DROP TABLE
CREATE TABLE
COPY 5105039

psql:import-snap.sql:14: NOTICE:  table "dblp" does not exist, skipping

DROP TABLE
CREATE TABLE
COPY 1049866

## Generate SNAP queries

In [33]:
import glob
from pathlib import Path

snap_tables = ['patents', 'wiki', 'google', 'dblp']

Path(f'snap-queries/all').mkdir(parents=True, exist_ok=True)
for tablename in snap_tables:
    Path(f'snap-queries/{tablename}').mkdir(parents=True, exist_ok=True)
    # We use the patent queries as the base and replace the references to the patent relation
    base_query_files = glob.glob('snap-queries/patents/*.sql')
    for file in base_query_files:
        query = Path(file).read_text()
        basename = Path(file).name
        new_query = query.replace('patents', tablename)
        with open(f'snap-queries/{tablename}/{basename}', 'w') as new_file:
            new_file.write(new_query)
        with open(f'snap-queries/all/{tablename}-{basename}', 'w') as new_file:
            new_file.write(new_query)

# JOB

## Import the JOB/IMDB data

In [4]:
%%bash
cd job
tar -xzf export.sql.tar.gz

In [3]:
%%bash
tail -n 50 job/export.sql

CREATE INDEX title_idx_kindid ON public.title USING btree (kind_id);


--
-- Name: title_idx_md5; Type: INDEX; Schema: public; Owner: imdb
--

CREATE INDEX title_idx_md5 ON public.title USING btree (md5sum);


--
-- Name: title_idx_pcode; Type: INDEX; Schema: public; Owner: imdb
--

CREATE INDEX title_idx_pcode ON public.title USING btree (phonetic_code);


--
-- Name: title_idx_season_nr; Type: INDEX; Schema: public; Owner: imdb
--

CREATE INDEX title_idx_season_nr ON public.title USING btree (season_nr);


--
-- Name: title_idx_title; Type: INDEX; Schema: public; Owner: imdb
--

CREATE INDEX title_idx_title ON public.title USING btree (title);


--
-- Name: title_idx_year; Type: INDEX; Schema: public; Owner: imdb
--

CREATE INDEX title_idx_year ON public.title USING btree (production_year);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT ALL ON SCHEMA public TO imdb;


--
-- PostgreSQL database dump complete
--

In [2]:
%%bash

cd job
PGPASSWORD=imdb psql -h postgres -U imdb -d imdb -f export.sql

SET
SET
SET
SET
SET
 set_config
------------

(1 row)

SET
SET
SET
SET
SET
SET

psql:export.sql:36: ERROR:  relation "aka_name" already exists
psql:export.sql:51: ERROR:  relation "aka_name_id_seq" already exists

ALTER TABLE
ALTER SEQUENCE
ALTER SEQUENCE

psql:export.sql:80: ERROR:  relation "aka_title" already exists

ALTER TABLE

psql:export.sql:95: ERROR:  relation "aka_title_id_seq" already exists

ALTER SEQUENCE
ALTER SEQUENCE

psql:export.sql:119: ERROR:  relation "cast_info" already exists

ALTER TABLE

psql:export.sql:134: ERROR:  relation "cast_info_id_seq" already exists

ALTER SEQUENCE
ALTER SEQUENCE

psql:export.sql:158: ERROR:  relation "char_name" already exists

ALTER TABLE

psql:export.sql:173: ERROR:  relation "char_name_id_seq" already exists

ALTER SEQUENCE
ALTER SEQUENCE

psql:export.sql:192: ERROR:  relation "comp_cast_type" already exists

ALTER TABLE

psql:export.sql:207: ERROR:  relation "comp_cast_type_id_seq" already exists

ALTER SEQUENCE
ALTER SEQUENCE

psql:export.sql:231: ERROR:  relation "company_name" already exists

ALTER TABLE

psql:export.sql:246: ERROR:  relation "company_name_id_seq" already exists

ALTER SEQUENCE
ALTER SEQUENCE

psql:export.sql:265: ERROR:  relation "company_type" already exists

ALTER TABLE

psql:export.sql:280: ERROR:  relation "company_type_id_seq" already exists

ALTER SEQUENCE
ALTER SEQUENCE

psql:export.sql:301: ERROR:  relation "complete_cast" already exists

ALTER TABLE

psql:export.sql:316: ERROR:  relation "complete_cast_id_seq" already exists

ALTER SEQUENCE
ALTER SEQUENCE

psql:export.sql:335: ERROR:  relation "info_type" already exists

ALTER TABLE

psql:export.sql:350: ERROR:  relation "info_type_id_seq" already exists

ALTER SEQUENCE
ALTER SEQUENCE

psql:export.sql:370: ERROR:  relation "keyword" already exists

ALTER TABLE

psql:export.sql:385: ERROR:  relation "keyword_id_seq" already exists

ALTER SEQUENCE
ALTER SEQUENCE

psql:export.sql:404: ERROR:  relation "kind_type" already exists

ALTER TABLE

psql:export.sql:419: ERROR:  relation "kind_type_id_seq" already exists

ALTER SEQUENCE
ALTER SEQUENCE

psql:export.sql:438: ERROR:  relation "link_type" already exists

ALTER TABLE

psql:export.sql:453: ERROR:  relation "link_type_id_seq" already exists

ALTER SEQUENCE
ALTER SEQUENCE

psql:export.sql:475: ERROR:  relation "movie_companies" already exists

ALTER TABLE

psql:export.sql:490: ERROR:  relation "movie_companies_id_seq" already exists

ALTER SEQUENCE
ALTER SEQUENCE

psql:export.sql:512: ERROR:  relation "movie_info" already exists

ALTER TABLE

psql:export.sql:527: ERROR:  relation "movie_info_id_seq" already exists

ALTER SEQUENCE
ALTER SEQUENCE

psql:export.sql:547: ERROR:  relation "movie_keyword" already exists

ALTER TABLE

psql:export.sql:562: ERROR:  relation "movie_keyword_id_seq" already exists

ALTER SEQUENCE
ALTER SEQUENCE

psql:export.sql:583: ERROR:  relation "movie_link" already exists

ALTER TABLE

psql:export.sql:598: ERROR:  relation "movie_link_id_seq" already exists

ALTER SEQUENCE
ALTER SEQUENCE

psql:export.sql:624: ERROR:  relation "name" already exists

ALTER TABLE

psql:export.sql:639: ERROR:  relation "name_id_seq" already exists

ALTER SEQUENCE
ALTER SEQUENCE

psql:export.sql:661: ERROR:  relation "person_info" already exists

ALTER TABLE

psql:export.sql:676: ERROR:  relation "person_info_id_seq" already exists

ALTER SEQUENCE
ALTER SEQUENCE

psql:export.sql:695: ERROR:  relation "role_type" already exists

ALTER TABLE

psql:export.sql:710: ERROR:  relation "role_type_id_seq" already exists

ALTER SEQUENCE
ALTER SEQUENCE

psql:export.sql:739: ERROR:  relation "title" already exists

ALTER TABLE

psql:export.sql:754: ERROR:  relation "title_id_seq" already exists

ALTER SEQUENCE
ALTER SEQUENCE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
COPY 1312273
COPY 528297

psql:export.sql:65317332: ERROR:  duplicate key value violates unique constraint "cast_info_pkey"
DETAIL:  Key (id)=(1) already exists.
CONTEXT:  COPY cast_info, line 1
psql:export.sql:69632204: ERROR:  duplicate key value violates unique constraint "char_name_pkey"
DETAIL:  Key (id)=(1) already exists.
CONTEXT:  COPY char_name, line 1
psql:export.sql:69632216: ERROR:  duplicate key value violates unique constraint "comp_cast_type_pkey"
DETAIL:  Key (id)=(1) already exists.
CONTEXT:  COPY comp_cast_type, line 1
psql:export.sql:69994355: ERROR:  duplicate key value violates unique constraint "company_name_pkey"
DETAIL:  Key (id)=(1) already exists.
CONTEXT:  COPY company_name, line 1
psql:export.sql:69994367: ERROR:  duplicate key value violates unique constraint "company_type_pkey"
DETAIL:  Key (id)=(1) already exists.
CONTEXT:  COPY company_type, line 1
psql:export.sql:70129461: ERROR:  duplicate key value violates unique constraint "complete_cast_pkey"
DETAIL:  Key (id)=(1) already exists.
CONTEXT:  COPY complete_cast, line 1
psql:export.sql:70129582: ERROR:  duplicate key value violates unique constraint "info_type_pkey"
DETAIL:  Key (id)=(1) already exists.
CONTEXT:  COPY info_type, line 1
psql:export.sql:70366217: ERROR:  duplicate key value violates unique constraint "keyword_pkey"
DETAIL:  Key (id)=(1) already exists.
CONTEXT:  COPY keyword, line 1
psql:export.sql:70366234: ERROR:  duplicate key value violates unique constraint "kind_type_pkey"
DETAIL:  Key (id)=(1) already exists.
CONTEXT:  COPY kind_type, line 1
psql:export.sql:70366260: ERROR:  duplicate key value violates unique constraint "link_type_pkey"
DETAIL:  Key (id)=(1) already exists.
CONTEXT:  COPY link_type, line 1
psql:export.sql:75324564: ERROR:  duplicate key value violates unique constraint "movie_companies_pkey"
DETAIL:  Key (id)=(1) already exists.
CONTEXT:  COPY movie_companies, line 1
psql:export.sql:105099258: ERROR:  duplicate key value violates unique constraint "movie_info_pkey"
DETAIL:  Key (id)=(1) already exists.
CONTEXT:  COPY movie_info, line 1
psql:export.sql:112579353: ERROR:  duplicate key value violates unique constraint "movie_keyword_pkey"
DETAIL:  Key (id)=(1) already exists.
CONTEXT:  COPY movie_keyword, line 1
psql:export.sql:115164511: ERROR:  duplicate key value violates unique constraint "movie_link_pkey"
DETAIL:  Key (id)=(1) already exists.
CONTEXT:  COPY movie_link, line 1
psql:export.sql:121544259: ERROR:  duplicate key value violates unique constraint "name_pkey"
DETAIL:  Key (id)=(1) already exists.
CONTEXT:  COPY name, line 1
psql:export.sql:125674474: ERROR:  duplicate key value violates unique constraint "person_info_pkey"
DETAIL:  Key (id)=(1) already exists.
CONTEXT:  COPY person_info, line 1
psql:export.sql:125674494: ERROR:  duplicate key value violates unique constraint "role_type_pkey"
DETAIL:  Key (id)=(1) already exists.
CONTEXT:  COPY role_type, line 1
psql:export.sql:128974502: ERROR:  duplicate key value violates unique constraint "title_pkey"
DETAIL:  Key (id)=(100001) already exists.
CONTEXT:  COPY title, line 1

 setval
---------
 1312273
(1 row)

 setval
--------
      1
(1 row)

  setval
----------
 63475835
(1 row)

 setval
--------
      1
(1 row)

 setval
--------
      4
(1 row)

 setval
--------
      1
(1 row)

 setval
--------
      4
(1 row)

 setval
--------
 135086
(1 row)

 setval
--------
    113
(1 row)

 setval
--------
      1
(1 row)

 setval
--------
      9
(1 row)

 setval
--------
     18
(1 row)

 setval
---------
 4958296
(1 row)

  setval
----------
 29774686
(1 row)

 setval
---------
 7480087
(1 row)

 setval
---------
 2585150
(1 row)

 setval
--------
      1
(1 row)

 setval
---------
 4130207
(1 row)

 setval
--------
     12
(1 row)

 setval
--------
      1
(1 row)

psql:export.sql:128974650: ERROR:  could not create unique index "aka_name_pkey"
DETAIL:  Key (id)=(20403) is duplicated.
psql:export.sql:128974658: ERROR:  could not create unique index "aka_title_pkey"
DETAIL:  Key (id)=(458464) is duplicated.
CONTEXT:  parallel worker
psql:export.sql:128974666: ERROR:  multiple primary keys for table "cast_info" are not allowed
psql:export.sql:128974674: ERROR:  multiple primary keys for table "char_name" are not allowed
psql:export.sql:128974682: ERROR:  multiple primary keys for table "comp_cast_type" are not allowed
psql:export.sql:128974690: ERROR:  multiple primary keys for table "company_name" are not allowed
psql:export.sql:128974698: ERROR:  multiple primary keys for table "company_type" are not allowed
psql:export.sql:128974706: ERROR:  multiple primary keys for table "complete_cast" are not allowed
psql:export.sql:128974714: ERROR:  multiple primary keys for table "info_type" are not allowed
psql:export.sql:128974722: ERROR:  multiple primary keys for table "keyword" are not allowed
psql:export.sql:128974730: ERROR:  multiple primary keys for table "kind_type" are not allowed
psql:export.sql:128974738: ERROR:  multiple primary keys for table "link_type" are not allowed
psql:export.sql:128974746: ERROR:  multiple primary keys for table "movie_companies" are not allowed
psql:export.sql:128974754: ERROR:  multiple primary keys for table "movie_info" are not allowed
psql:export.sql:128974762: ERROR:  multiple primary keys for table "movie_keyword" are not allowed
psql:export.sql:128974770: ERROR:  multiple primary keys for table "movie_link" are not allowed
psql:export.sql:128974778: ERROR:  multiple primary keys for table "name" are not allowed
psql:export.sql:128974786: ERROR:  multiple primary keys for table "person_info" are not allowed
psql:export.sql:128974794: ERROR:  multiple primary keys for table "role_type" are not allowed
psql:export.sql:128974802: ERROR:  multiple primary keys for table "title" are not allowed
psql:export.sql:128974809: ERROR:  relation "aka_name_idx_md5" already exists
psql:export.sql:128974816: ERROR:  relation "aka_name_idx_name" already exists
psql:export.sql:128974823: ERROR:  relation "aka_name_idx_pcode" already exists
psql:export.sql:128974830: ERROR:  relation "aka_name_idx_pcodecf" already exists
psql:export.sql:128974837: ERROR:  relation "aka_name_idx_pcodenf" already exists
psql:export.sql:128974844: ERROR:  relation "aka_name_idx_person" already exists
psql:export.sql:128974851: ERROR:  relation "aka_title_idx_epof" already exists
psql:export.sql:128974858: ERROR:  relation "aka_title_idx_kindid" already exists
psql:export.sql:128974865: ERROR:  relation "aka_title_idx_md5" already exists
psql:export.sql:128974872: ERROR:  relation "aka_title_idx_movieid" already exists
psql:export.sql:128974879: ERROR:  relation "aka_title_idx_pcode" already exists
psql:export.sql:128974886: ERROR:  relation "aka_title_idx_title" already exists
psql:export.sql:128974893: ERROR:  relation "aka_title_idx_year" already exists
psql:export.sql:128974900: ERROR:  relation "cast_info_idx_cid" already exists
psql:export.sql:128974907: ERROR:  relation "cast_info_idx_mid" already exists
psql:export.sql:128974914: ERROR:  relation "cast_info_idx_pid" already exists
psql:export.sql:128974921: ERROR:  relation "cast_info_idx_rid" already exists
psql:export.sql:128974928: ERROR:  relation "char_name_idx_imdb_id" already exists
psql:export.sql:128974935: ERROR:  relation "char_name_idx_md5" already exists
psql:export.sql:128974942: ERROR:  relation "char_name_idx_name" already exists
psql:export.sql:128974949: ERROR:  relation "char_name_idx_pcode" already exists
psql:export.sql:128974956: ERROR:  relation "char_name_idx_pcodenf" already exists
psql:export.sql:128974963: ERROR:  relation "comp_cast_type_kind" already exists
psql:export.sql:128974970: ERROR:  relation "company_name_idx_ccode" already exists
psql:export.sql:128974977: ERROR:  relation "company_name_idx_imdb_id" already exists
psql:export.sql:128974984: ERROR:  relation "company_name_idx_md5" already exists
psql:export.sql:128974991: ERROR:  relation "company_name_idx_name" already exists
psql:export.sql:128974998: ERROR:  relation "company_name_idx_pcodenf" already exists
psql:export.sql:128975005: ERROR:  relation "company_name_idx_pcodesf" already exists
psql:export.sql:128975012: ERROR:  relation "company_type_kind" already exists
psql:export.sql:128975019: ERROR:  relation "complete_cast_idx_mid" already exists
psql:export.sql:128975026: ERROR:  relation "complete_cast_idx_sid" already exists
psql:export.sql:128975033: ERROR:  relation "info_type_info" already exists
psql:export.sql:128975040: ERROR:  relation "keyword_idx_keyword" already exists
psql:export.sql:128975047: ERROR:  relation "keyword_idx_pcode" already exists
psql:export.sql:128975054: ERROR:  relation "kind_type_kind" already exists
psql:export.sql:128975061: ERROR:  relation "link_type_link" already exists
psql:export.sql:128975068: ERROR:  relation "movie_companies_idx_cid" already exists
psql:export.sql:128975075: ERROR:  relation "movie_companies_idx_ctypeid" already exists
psql:export.sql:128975082: ERROR:  relation "movie_companies_idx_mid" already exists
psql:export.sql:128975089: ERROR:  relation "movie_info_idx_infotypeid" already exists
psql:export.sql:128975096: ERROR:  relation "movie_info_idx_mid" already exists
psql:export.sql:128975103: ERROR:  relation "movie_keyword_idx_keywordid" already exists
psql:export.sql:128975110: ERROR:  relation "movie_keyword_idx_mid" already exists
psql:export.sql:128975117: ERROR:  relation "movie_link_idx_lmid" already exists
psql:export.sql:128975124: ERROR:  relation "movie_link_idx_ltypeid" already exists
psql:export.sql:128975131: ERROR:  relation "movie_link_idx_mid" already exists
psql:export.sql:128975138: ERROR:  relation "name_idx_gender" already exists
psql:export.sql:128975145: ERROR:  relation "name_idx_imdb_id" already exists
psql:export.sql:128975152: ERROR:  relation "name_idx_md5" already exists
psql:export.sql:128975159: ERROR:  relation "name_idx_name" already exists
psql:export.sql:128975166: ERROR:  relation "name_idx_pcode" already exists
psql:export.sql:128975173: ERROR:  relation "name_idx_pcodecf" already exists
psql:export.sql:128975180: ERROR:  relation "name_idx_pcodenf" already exists
psql:export.sql:128975187: ERROR:  relation "person_info_idx_itypeid" already exists
psql:export.sql:128975194: ERROR:  relation "person_info_idx_pid" already exists
psql:export.sql:128975201: ERROR:  relation "role_type_role" already exists
psql:export.sql:128975208: ERROR:  relation "title_idx_episode_nr" already exists
psql:export.sql:128975215: ERROR:  relation "title_idx_epof" already exists
psql:export.sql:128975222: ERROR:  relation "title_idx_imdb_id" already exists
psql:export.sql:128975229: ERROR:  relation "title_idx_kindid" already exists
psql:export.sql:128975236: ERROR:  relation "title_idx_md5" already exists
psql:export.sql:128975243: ERROR:  relation "title_idx_pcode" already exists
psql:export.sql:128975250: ERROR:  relation "title_idx_season_nr" already exists
psql:export.sql:128975257: ERROR:  relation "title_idx_title" already exists
psql:export.sql:128975264: ERROR:  relation "title_idx_year" already exists
psql:export.sql:128975271: WARNING:  no privileges were granted for "public"

GRANT

In [10]:
%%bash
PGPASSWORD=imdb psql -h postgres -U imdb -d imdb
\dt

            List of relations
 Schema |      Name       | Type  | Owner
--------+-----------------+-------+-------
 public | aka_name        | table | imdb
 public | aka_title       | table | imdb
 public | cast_info       | table | imdb
 public | char_name       | table | imdb
 public | comp_cast_type  | table | imdb
 public | company_name    | table | imdb
 public | company_type    | table | imdb
 public | complete_cast   | table | imdb
 public | info_type       | table | imdb
 public | keyword         | table | imdb
 public | kind_type       | table | imdb
 public | link_type       | table | imdb
 public | movie_companies | table | imdb
 public | movie_info      | table | imdb
 public | movie_keyword   | table | imdb
 public | movie_link      | table | imdb
 public | name            | table | imdb
 public | person_info     | table | imdb
 public | role_type       | table | imdb
 public | title           | table | imdb
(20 rows)

# STATS

## Import the STATS dataset

In [21]:
%%bash

cd stats
PGPASSWORD=stats psql -h postgres -U stats -d stats -f datasets/stats.sql
PGPASSWORD=stats psql -h postgres -U stats -d stats -f scripts/stats_load.sql

psql:datasets/stats.sql:9: ERROR:  relation "users" already exists
psql:datasets/stats.sql:23: ERROR:  relation "posts" already exists
psql:datasets/stats.sql:32: ERROR:  relation "postlinks" already exists
psql:datasets/stats.sql:41: ERROR:  relation "posthistory" already exists
psql:datasets/stats.sql:50: ERROR:  relation "comments" already exists
psql:datasets/stats.sql:60: ERROR:  relation "votes" already exists
psql:datasets/stats.sql:67: ERROR:  relation "badges" already exists
psql:datasets/stats.sql:74: ERROR:  relation "tags" already exists

COPY 79851
COPY 174305
COPY 40325
COPY 1032
COPY 91976
COPY 328064
COPY 303187
COPY 11102

## Generate the STATS queries

Some small errors in the names of the foreign keys are fixed (from https://arxiv.org/pdf/2109.05877.pdf)

In [32]:
import re

query_file = Path('stats/workload/stats_CEB.sql').read_text()
queries = []
for i, row in enumerate(query_file.split('\n')):
    count = int(row.split('||')[0])
    query = row.split('||')[1]

    p = re.compile("('\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}')::timestamp")
    query_replaced = p.sub(lambda match: f'CAST({match.group(1)} AS TIMESTAMP)', query)
    queries.append((i, count, query_replaced))

queries.sort(key=lambda t: t[1])

hints = [('FK(t.ExcerptPostId, p.Id)', ['t', 'p']),
        ('FK(pl.PostId, p.Id)', ['pl', 'p']),
        ('FK(pl.RelatedPostId, p.Id)', ['pl', 'p']),
        ('FK(c.PostId, p.Id)', ['c', 'p']),
        ('FK(ph.PostId, p.Id)', ['ph', 'p']),
        ('FK(v.PostId, p.Id)', ['v', 'p']),
        ('FK(p.OwnerUserId, u.Id)', ['p', 'u']),
        ('FK(c.UserId, u.Id)', ['c', 'u']),
        ('FK(ph.UserId, u.Id)', ['ph', 'u']),
        ('FK(b.UserId, u.Id)', ['b', 'u']),
        ('FK(v.UserId, u.Id)', ['v', 'u'])]

for i, (idx, count, query_replaced) in enumerate(queries):
    with open(f'stats-queries/{i+1:03}-{idx+1:03}.sql', 'w') as f:
        f.write(query_replaced)
    with open(f'stats-queries/hints/{i+1:03}-{idx+1:03}-hint.sql', 'w') as f:
        applicable_hints = list(map(lambda h: h[0],
                               list(filter(lambda h: re.search('as {rname}( |,)'.format(rname=h[1][0]), query_replaced) is not None
                                           and re.search('as {rname}( |,)'.format(rname=h[1][1]), query_replaced) is not None, hints))))
        if (len(applicable_hints) > 0):
            query_hints = query_replaced.replace('SELECT', f'SELECT /*+ {",".join(applicable_hints)} */ ')
            f.write(query_hints)
        else:
            f.write(query_replaced)

# HETIONET

In [2]:
%%bash
rm hetionet-v1.0.json.bz2
wget https://github.com/hetio/hetionet/raw/main/hetnet/json/hetionet-v1.0.json.bz2

rm: cannot remove 'hetionet-v1.0.json.bz2': No such file or directory
--2024-04-09 07:31:58--  https://github.com/hetio/hetionet/raw/main/hetnet/json/hetionet-v1.0.json.bz2
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://media.githubusercontent.com/media/hetio/hetionet/main/hetnet/json/hetionet-v1.0.json.bz2 [following]
--2024-04-09 07:31:59--  https://media.githubusercontent.com/media/hetio/hetionet/main/hetnet/json/hetionet-v1.0.json.bz2
Resolving media.githubusercontent.com (media.githubusercontent.com)... 185.199.108.133, 185.199.110.133, 185.199.109.133, ...
Connecting to media.githubusercontent.com (media.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 16112094 (15M) [application/octet-stream]
Saving to: hetionet-v1.0.json.bz2

     0K .......... .......... .......... .......... ..........  0% 1.96M 8s
    50K .......... .......... .......... .......... ..........  0% 2.27M 7s
   100K .......... .......... .......... .......... ..........  0% 4.80M 6s
   150K .......... .......... .......... .......... ..........  1% 6.24M 5s
   200K .......... .......... .......... .......... ..........  1% 5.91M 4s
   250K .......... .......... .......... .......... ..........  1% 4.19M 4s
   300K .......... .......... .......... .......... ..........  2% 5.30M 4s
   350K .......... .......... .......... .......... ..........  2% 5.47M 4s
   400K .......... .......... .......... .......... ..........  2% 4.13M 4s
   450K .......... .......... .......... .......... ..........  3% 4.44M 4s
   500K .......... .......... .......... .......... ..........  3% 5.73M 4s
   550K .......... .......... .......... .......... ..........  3% 3.26M 4s
   600K .......... .......... .......... .......... ..........  4% 25.7M 3s
   650K .......... .......... .......... .......... ..........  4% 3.60M 4s
   700K .......... .......... .......... .......... ..........  4% 3.30M 4s
   750K .......... .......... .......... .......... ..........  5% 4.48M 4s
   800K .......... .......... .......... .......... ..........  5% 2.59M 4s
   850K .......... .......... .......... .......... ..........  5% 5.25M 4s
   900K .......... .......... .......... .......... ..........  6% 3.56M 4s
   950K .......... .......... .......... .......... ..........  6% 3.91M 4s
  1000K .......... .......... .......... .......... ..........  6% 5.44M 4s
  1050K .......... .......... .......... .......... ..........  6% 6.36M 3s
  1100K .......... .......... .......... .......... ..........  7% 5.78M 3s
  1150K .......... .......... .......... .......... ..........  7% 3.63M 3s
  1200K .......... .......... .......... .......... ..........  7% 5.07M 3s
  1250K .......... .......... .......... .......... ..........  8% 5.65M 3s
  1300K .......... .......... .......... .......... ..........  8% 3.45M 3s
  1350K .......... .......... .......... .......... ..........  8% 6.06M 3s
  1400K .......... .......... .......... .......... ..........  9% 3.32M 3s
  1450K .......... .......... .......... .......... ..........  9% 1.11M 4s
  1500K .......... .......... .......... .......... ..........  9% 2.88M 4s
  1550K .......... .......... .......... .......... .......... 10% 3.49M 4s
  1600K .......... .......... .......... .......... .......... 10% 1.94M 4s
  1650K .......... .......... .......... .......... .......... 10% 2.03M 4s
  1700K .......... .......... .......... .......... .......... 11% 2.47M 4s
  1750K .......... .......... .......... .......... .......... 11% 4.02M 4s
  1800K .......... .......... .......... .......... .......... 11% 3.54M 4s
  1850K .......... .......... .......... .......... .......... 12% 5.81M 4s
  1900K .......... .......... .......... .......... .......... 12% 3.19M 4s
  1950K .......... .......... .......... .......... .......... 12% 6.09M 4s
  2000K .......... .......... .......... .......... .......... 13% 2.23M 4s
  2050K .......... .......... .......... .......... .......... 13% 3.70M 4s
  2100K .......... .......... .......... .......... .......... 13% 4.45M 4s
  2150K .......... .......... .......... .......... .......... 13% 3.15M 4s
  2200K .......... .......... .......... .......... .......... 14% 3.09M 4s
  2250K .......... .......... .......... .......... .......... 14% 4.37M 4s
  2300K .......... .......... .......... .......... .......... 14% 5.76M 4s
  2350K .......... .......... .......... .......... .......... 15% 3.35M 4s
  2400K .......... .......... .......... .......... .......... 15% 6.97M 4s
  2450K .......... .......... .......... .......... .......... 15% 5.20M 4s
  2500K .......... .......... .......... .......... .......... 16% 6.39M 3s
  2550K .......... .......... .......... .......... .......... 16% 5.28M 3s
  2600K .......... .......... .......... .......... .......... 16% 9.05M 3s
  2650K .......... .......... .......... .......... .......... 17% 3.86M 3s
  2700K .......... .......... .......... .......... .......... 17% 5.96M 3s
  2750K .......... .......... .......... .......... .......... 17% 2.45M 3s
  2800K .......... .......... .......... .......... .......... 18% 3.56M 3s
  2850K .......... .......... .......... .......... .......... 18% 2.44M 3s
  2900K .......... .......... .......... .......... .......... 18% 1.36M 3s
  2950K .......... .......... .......... .......... .......... 19% 1.80M 4s
  3000K .......... .......... .......... .......... .......... 19%  494K 4s
  3050K .......... .......... .......... .......... .......... 19% 1.49M 4s
  3100K .......... .......... .......... .......... .......... 20% 2.56M 4s
  3150K .......... .......... .......... .......... .......... 20% 2.14M 4s
  3200K .......... .......... .......... .......... .......... 20% 3.46M 4s
  3250K .......... .......... .......... .......... .......... 20% 3.45M 4s
  3300K .......... .......... .......... .......... .......... 21% 3.26M 4s
  3350K .......... .......... .......... .......... .......... 21% 2.53M 4s
  3400K .......... .......... .......... .......... .......... 21% 2.63M 4s
  3450K .......... .......... .......... .......... .......... 22% 3.31M 4s
  3500K .......... .......... .......... .......... .......... 22% 2.77M 4s
  3550K .......... .......... .......... .......... .......... 22% 2.52M 4s
  3600K .......... .......... .......... .......... .......... 23% 2.56M 4s
  3650K .......... .......... .......... .......... .......... 23% 1.87M 4s
  3700K .......... .......... .......... .......... .......... 23% 3.36M 4s
  3750K .......... .......... .......... .......... .......... 24% 3.27M 4s
  3800K .......... .......... .......... .......... .......... 24% 5.96M 4s
  3850K .......... .......... .......... .......... .......... 24% 4.64M 4s
  3900K .......... .......... .......... .......... .......... 25% 5.46M 4s
  3950K .......... .......... .......... .......... .......... 25% 4.53M 4s
  4000K .......... .......... .......... .......... .......... 25% 4.90M 4s
  4050K .......... .......... .......... .......... .......... 26% 7.13M 4s
  4100K .......... .......... .......... .......... .......... 26% 4.19M 4s
  4150K .......... .......... .......... .......... .......... 26% 5.74M 4s
  4200K .......... .......... .......... .......... .......... 27% 2.33M 4s
  4250K .......... .......... .......... .......... .......... 27% 4.24M 4s
  4300K .......... .......... .......... .......... .......... 27% 5.56M 3s
  4350K .......... .......... .......... .......... .......... 27% 3.59M 3s
  4400K .......... .......... .......... .......... .......... 28% 6.86M 3s
  4450K .......... .......... .......... .......... .......... 28% 5.00M 3s
  4500K .......... .......... .......... .......... .......... 28% 4.52M 3s
  4550K .......... .......... .......... .......... .......... 29% 1.94M 3s
  4600K .......... .......... .......... .......... .......... 29% 3.01M 3s
  4650K .......... .......... .......... .......... .......... 29% 3.94M 3s
  4700K .......... .......... .......... .......... .......... 30% 5.81M 3s
  4750K .......... .......... .......... .......... .......... 30% 3.78M 3s
  4800K .......... .......... .......... .......... .......... 30% 5.44M 3s
  4850K .......... .......... .......... .......... .......... 31% 4.38M 3s
  4900K .......... .......... .......... .......... .......... 31% 4.67M 3s
  4950K .......... .......... .......... .......... .......... 31% 5.10M 3s
  5000K .......... .......... .......... .......... .......... 32% 4.53M 3s
  5050K .......... .......... .......... .......... .......... 32% 5.52M 3s
  5100K .......... .......... .......... .......... .......... 32% 5.28M 3s
  5150K .......... .......... .......... .......... .......... 33% 2.83M 3s
  5200K .......... .......... .......... .......... .......... 33% 6.01M 3s
  5250K .......... .......... .......... .......... .......... 33% 4.90M 3s
  5300K .......... .......... .......... .......... .......... 34% 4.72M 3s
  5350K .......... .......... .......... .......... .......... 34% 3.29M 3s
  5400K .......... .......... .......... .......... .......... 34% 2.79M 3s
  5450K .......... .......... .......... .......... .......... 34% 3.28M 3s
  5500K .......... .......... .......... .......... .......... 35% 2.67M 3s
  5550K .......... .......... .......... .......... .......... 35% 2.14M 3s
  5600K .......... .......... .......... .......... .......... 35% 2.99M 3s
  5650K .......... .......... .......... .......... .......... 36% 4.19M 3s
  5700K .......... .......... .......... .......... .......... 36% 4.26M 3s
  5750K .......... .......... .......... .......... .......... 36% 4.02M 3s
  5800K .......... .......... .......... .......... .......... 37% 6.62M 3s
  5850K .......... .......... .......... .......... .......... 37% 5.49M 3s
  5900K .......... .......... .......... .......... .......... 37% 7.19M 3s
  5950K .......... .......... .......... .......... .......... 38% 4.16M 3s
  6000K .......... .......... .......... .......... .......... 38% 5.65M 3s
  6050K .......... .......... .......... .......... .......... 38% 4.87M 3s
  6100K .......... .......... .......... .......... .......... 39% 5.56M 3s
  6150K .......... .......... .......... .......... .......... 39% 6.40M 3s
  6200K .......... .......... .......... .......... .......... 39% 3.72M 3s
  6250K .......... .......... .......... .......... .......... 40% 5.37M 3s
  6300K .......... .......... .......... .......... .......... 40% 4.95M 3s
  6350K .......... .......... .......... .......... .......... 40% 4.10M 3s
  6400K .......... .......... .......... .......... .......... 40% 4.15M 3s
  6450K .......... .......... .......... .......... .......... 41% 4.60M 3s
  6500K .......... .......... .......... .......... .......... 41% 4.83M 3s
  6550K .......... .......... .......... .......... .......... 41% 2.79M 3s
  6600K .......... .......... .......... .......... .......... 42% 5.06M 3s
  6650K .......... .......... .......... .......... .......... 42%  372K 3s
  6700K .......... .......... .......... .......... .......... 42% 1.10M 3s
  6750K .......... .......... .......... .......... .......... 43% 1.98M 3s
  6800K .......... .......... .......... .......... .......... 43% 4.54M 3s
  6850K .......... .......... .......... .......... .......... 43% 5.26M 3s
  6900K .......... .......... .......... .......... .......... 44% 4.70M 3s
  6950K .......... .......... .......... .......... .......... 44% 6.24M 3s
  7000K .......... .......... .......... .......... .......... 44% 4.35M 3s
  7050K .......... .......... .......... .......... .......... 45% 5.83M 3s
  7100K .......... .......... .......... .......... .......... 45% 4.55M 3s
  7150K .......... .......... .......... .......... .......... 45% 3.72M 3s
  7200K .......... .......... .......... .......... .......... 46% 4.35M 3s
  7250K .......... .......... .......... .......... .......... 46% 6.22M 3s
  7300K .......... .......... .......... .......... .......... 46% 4.17M 2s
  7350K .......... .......... .......... .......... .......... 47% 2.65M 2s
  7400K .......... .......... .......... .......... .......... 47%  598K 3s
  7450K .......... .......... .......... .......... .......... 47% 2.33M 3s
  7500K .......... .......... .......... .......... .......... 47% 3.36M 3s
  7550K .......... .......... .......... .......... .......... 48% 3.16M 3s
  7600K .......... .......... .......... .......... .......... 48% 2.56M 2s
  7650K .......... .......... .......... .......... .......... 48% 4.37M 2s
  7700K .......... .......... .......... .......... .......... 49% 5.50M 2s
  7750K .......... .......... .......... .......... .......... 49% 3.08M 2s
  7800K .......... .......... .......... .......... .......... 49% 4.22M 2s
  7850K .......... .......... .......... .......... .......... 50% 4.94M 2s
  7900K .......... .......... .......... .......... .......... 50% 4.73M 2s
  7950K .......... .......... .......... .......... .......... 50% 2.96M 2s
  8000K .......... .......... .......... .......... .......... 51% 3.11M 2s
  8050K .......... .......... .......... .......... .......... 51% 2.87M 2s
  8100K .......... .......... .......... .......... .......... 51% 6.13M 2s
  8150K .......... .......... .......... .......... .......... 52% 2.19M 2s
  8200K .......... .......... .......... .......... .......... 52% 1.47M 2s
  8250K .......... .......... .......... .......... .......... 52% 3.19M 2s
  8300K .......... .......... .......... .......... .......... 53% 3.54M 2s
  8350K .......... .......... .......... .......... .......... 53% 2.57M 2s
  8400K .......... .......... .......... .......... .......... 53% 4.82M 2s
  8450K .......... .......... .......... .......... .......... 54% 6.78M 2s
  8500K .......... .......... .......... .......... .......... 54% 3.22M 2s
  8550K .......... .......... .......... .......... .......... 54% 5.03M 2s
  8600K .......... .......... .......... .......... .......... 54% 5.06M 2s
  8650K .......... .......... .......... .......... .......... 55% 3.52M 2s
  8700K .......... .......... .......... .......... .......... 55% 7.34M 2s
  8750K .......... .......... .......... .......... .......... 55% 4.43M 2s
  8800K .......... .......... .......... .......... .......... 56% 2.26M 2s
  8850K .......... .......... .......... .......... .......... 56% 3.01M 2s
  8900K .......... .......... .......... .......... .......... 56% 6.37M 2s
  8950K .......... .......... .......... .......... .......... 57% 6.59M 2s
  9000K .......... .......... .......... .......... .......... 57% 4.50M 2s
  9050K .......... .......... .......... .......... .......... 57% 7.67M 2s
  9100K .......... .......... .......... .......... .......... 58% 4.83M 2s
  9150K .......... .......... .......... .......... .......... 58% 3.62M 2s
  9200K .......... .......... .......... .......... .......... 58% 4.75M 2s
  9250K .......... .......... .......... .......... .......... 59% 6.34M 2s
  9300K .......... .......... .......... .......... .......... 59% 3.57M 2s
  9350K .......... .......... .......... .......... .......... 59%  543K 2s
  9400K .......... .......... .......... .......... .......... 60%  428K 2s
  9450K .......... .......... .......... .......... .......... 60% 1.47M 2s
  9500K .......... .......... .......... .......... .......... 60% 2.93M 2s
  9550K .......... .......... .......... .......... .......... 61% 2.50M 2s
  9600K .......... .......... .......... .......... .......... 61% 4.91M 2s
  9650K .......... .......... .......... .......... .......... 61% 4.85M 2s
  9700K .......... .......... .......... .......... .......... 61% 6.44M 2s
  9750K .......... .......... .......... .......... .......... 62% 4.66M 2s
  9800K .......... .......... .......... .......... .......... 62% 4.20M 2s
  9850K .......... .......... .......... .......... .......... 62% 4.02M 2s
  9900K .......... .......... .......... .......... .......... 63% 5.45M 2s
  9950K .......... .......... .......... .......... .......... 63% 4.07M 2s
 10000K .......... .......... .......... .......... .......... 63% 3.62M 2s
 10050K .......... .......... .......... .......... .......... 64% 4.33M 2s
 10100K .......... .......... .......... .......... .......... 64% 3.10M 2s
 10150K .......... .......... .......... .......... .......... 64% 5.93M 2s
 10200K .......... .......... .......... .......... .......... 65% 4.02M 2s
 10250K .......... .......... .......... .......... .......... 65% 7.50M 2s
 10300K .......... .......... .......... .......... .......... 65% 3.22M 2s
 10350K .......... .......... .......... .......... .......... 66% 2.48M 2s
 10400K .......... .......... .......... .......... .......... 66% 5.24M 2s
 10450K .......... .......... .......... .......... .......... 66% 5.44M 2s
 10500K .......... .......... .......... .......... .......... 67% 6.23M 2s
 10550K .......... .......... .......... .......... .......... 67% 5.34M 2s
 10600K .......... .......... .......... .......... .......... 67% 5.58M 2s
 10650K .......... .......... .......... .......... .......... 68% 5.04M 2s
 10700K .......... .......... .......... .......... .......... 68% 4.41M 2s
 10750K .......... .......... .......... .......... .......... 68% 3.06M 2s
 10800K .......... .......... .......... .......... .......... 68% 3.37M 2s
 10850K .......... .......... .......... .......... .......... 69% 3.17M 1s
 10900K .......... .......... .......... .......... .......... 69% 4.59M 1s
 10950K .......... .......... .......... .......... .......... 69% 6.37M 1s
 11000K .......... .......... .......... .......... .......... 70% 4.45M 1s
 11050K .......... .......... .......... .......... .......... 70% 4.67M 1s
 11100K .......... .......... .......... .......... .......... 70% 1.94M 1s
 11150K .......... .......... .......... .......... .......... 71% 1.95M 1s
 11200K .......... .......... .......... .......... .......... 71% 3.21M 1s
 11250K .......... .......... .......... .......... .......... 71% 4.01M 1s
 11300K .......... .......... .......... .......... .......... 72% 5.87M 1s
 11350K .......... .......... .......... .......... .......... 72% 4.74M 1s
 11400K .......... .......... .......... .......... .......... 72% 6.68M 1s
 11450K .......... .......... .......... .......... .......... 73% 4.41M 1s
 11500K .......... .......... .......... .......... .......... 73% 4.01M 1s
 11550K .......... .......... .......... .......... .......... 73% 3.45M 1s
 11600K .......... .......... .......... .......... .......... 74% 5.96M 1s
 11650K .......... .......... .......... .......... .......... 74% 2.67M 1s
 11700K .......... .......... .......... .......... .......... 74% 4.73M 1s
 11750K .......... .......... .......... .......... .......... 74% 3.47M 1s
 11800K .......... .......... .......... .......... .......... 75% 3.76M 1s
 11850K .......... .......... .......... .......... .......... 75% 5.27M 1s
 11900K .......... .......... .......... .......... .......... 75% 5.35M 1s
 11950K .......... .......... .......... .......... .......... 76% 4.94M 1s
 12000K .......... .......... .......... .......... .......... 76% 2.11M 1s
 12050K .......... .......... .......... .......... .......... 76% 3.25M 1s
 12100K .......... .......... .......... .......... .......... 77% 4.55M 1s
 12150K .......... .......... .......... .......... .......... 77% 4.97M 1s
 12200K .......... .......... .......... .......... .......... 77% 4.65M 1s
 12250K .......... .......... .......... .......... .......... 78% 6.98M 1s
 12300K .......... .......... .......... .......... .......... 78% 4.68M 1s
 12350K .......... .......... .......... .......... .......... 78% 4.02M 1s
 12400K .......... .......... .......... .......... .......... 79% 4.50M 1s
 12450K .......... .......... .......... .......... .......... 79% 3.07M 1s

In [3]:
import json
import bz2

with bz2.open("hetionet-v1.0.json.bz2", 'r') as f:
    hetiojson = json.load(f)

list(hetiojson.keys())

nodes = hetiojson['nodes']
edges = hetiojson['edges']

node_rels = {}

for n in nodes:
    rel = n['kind'].replace(' ', '_')
    id = n['identifier']
    name = n['name']

    if rel not in node_rels:
        node_rels[rel] = []
    
    node_rels[rel].append((id, name))

node_rels.keys()

edge_rels = {}

for e in edges:
    erel = e['kind']
    source = e['source_id'][1]
    target = e['target_id'][1]
    direction = e['direction']

    if erel not in edge_rels:
        edge_rels[erel] = []

    if direction == 'both':
        edge_rels[erel].append((source, target))
        edge_rels[erel].append((target, source))
    elif direction == 'forward':
        edge_rels[erel].append((source, target))
    else:
        print(f'unknown direction {direction}, canceling!')
        break
        
for k in edge_rels.keys():
    print(k, len(edge_rels[k]))

upregulates 248670
expresses 1052814
interacts 294328
participates 1629328
downregulates 261930
causes 277888
binds 23142
regulates 265672
associates 25246
covaries 123380
localizes 7204
resembles 14058
treats 1510
includes 2058
presents 6714
palliates 780

In [4]:
%%bash
pip3 install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /usr/local/lib/python3.10/dist-packages (2.9.9)

WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [5]:
import psycopg2 as pg
from psycopg2 import sql

conn = pg.connect("host=postgres dbname=hetio user=hetio password=hetio")
cur = conn.cursor()

In [6]:
try:
    for k in node_rels.keys():
        s = sql.SQL('CREATE TABLE IF NOT EXISTS {} (nid varchar(64) primary key, name text)').format(sql.Identifier(k.lower()))
        cur.execute(s)
        for v in node_rels[k]:
            cur.execute(sql.SQL('INSERT INTO {} VALUES (%s,%s);').format(sql.Identifier(k.lower())), v)
    conn.commit()
except Exception as e:
    print(e)
    print('Failed')
    conn.rollback()

In [7]:
try:
    for k in edge_rels.keys():
        print(k)
        s = sql.SQL('CREATE TABLE IF NOT EXISTS {} (sid varchar(64), tid varchar(64))').format(sql.Identifier(k))
        print(s)
        cur.execute(s)
        for e in edge_rels[k]:
            cur.execute(sql.SQL('INSERT INTO {} VALUES (%s,%s);').format(sql.Identifier(k)), e)
        conn.commit()
except Exception as e:
    print(e)
    print('Failed')
    conn.rollback()

upregulates
Composed([SQL('CREATE TABLE IF NOT EXISTS '), Identifier('upregulates'), SQL(' (sid varchar(64), tid varchar(64))')])
expresses
Composed([SQL('CREATE TABLE IF NOT EXISTS '), Identifier('expresses'), SQL(' (sid varchar(64), tid varchar(64))')])
interacts
Composed([SQL('CREATE TABLE IF NOT EXISTS '), Identifier('interacts'), SQL(' (sid varchar(64), tid varchar(64))')])
participates
Composed([SQL('CREATE TABLE IF NOT EXISTS '), Identifier('participates'), SQL(' (sid varchar(64), tid varchar(64))')])
downregulates
Composed([SQL('CREATE TABLE IF NOT EXISTS '), Identifier('downregulates'), SQL(' (sid varchar(64), tid varchar(64))')])
causes
Composed([SQL('CREATE TABLE IF NOT EXISTS '), Identifier('causes'), SQL(' (sid varchar(64), tid varchar(64))')])
binds
Composed([SQL('CREATE TABLE IF NOT EXISTS '), Identifier('binds'), SQL(' (sid varchar(64), tid varchar(64))')])
regulates
Composed([SQL('CREATE TABLE IF NOT EXISTS '), Identifier('regulates'), SQL(' (sid varchar(64), tid varchar(64))')])
associates
Composed([SQL('CREATE TABLE IF NOT EXISTS '), Identifier('associates'), SQL(' (sid varchar(64), tid varchar(64))')])
covaries
Composed([SQL('CREATE TABLE IF NOT EXISTS '), Identifier('covaries'), SQL(' (sid varchar(64), tid varchar(64))')])
localizes
Composed([SQL('CREATE TABLE IF NOT EXISTS '), Identifier('localizes'), SQL(' (sid varchar(64), tid varchar(64))')])
resembles
Composed([SQL('CREATE TABLE IF NOT EXISTS '), Identifier('resembles'), SQL(' (sid varchar(64), tid varchar(64))')])
treats
Composed([SQL('CREATE TABLE IF NOT EXISTS '), Identifier('treats'), SQL(' (sid varchar(64), tid varchar(64))')])
includes
Composed([SQL('CREATE TABLE IF NOT EXISTS '), Identifier('includes'), SQL(' (sid varchar(64), tid varchar(64))')])
presents
Composed([SQL('CREATE TABLE IF NOT EXISTS '), Identifier('presents'), SQL(' (sid varchar(64), tid varchar(64))')])
palliates
Composed([SQL('CREATE TABLE IF NOT EXISTS '), Identifier('palliates'), SQL(' (sid varchar(64), tid varchar(64))')])